<!-- <h1>Hello World in Angular</h1>
<hr>

<h2>Angular Concepts</h2>

<h3>Interpolation</h3>
<p>Agente exibe as informações que estão em atributos na class principal do componente</p>
<br>
<span>O valor que está no atributo name é: <strong>{{ name }}</strong></span>

<br>
<br>

<h3>One Way Data Binding</h3>
<p>One Way Data Bind (Agente só lê as informações e não as altera na class)</p>
<input [ngModel]="name" name="name">

<br>
<br>

<h3>Two Way Data Bind</h3>
<p>Two Way Data Bind (Agente lê as informações e as altera na class)</p>
<input [(ngModel)]="name" name="name2"> -->
<app-nav-bar></app-nav-bar>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
