footer {
  background-color: var(--color-primary);
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  bottom: 0;

  width: 100%;
  height: 4rem;

  padding: 10px 15px 0 15px;
}

footer .social {
  text-align: center;
  padding-bottom: 15px;
}

footer .social > a {
  font-size: 28px;
  color: inherit;
  opacity: 0.75;
}

footer .social > a {
  margin-left: 15px;
}

footer .social > a:hover {
  opacity: 0.9;
}
